<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>About Henry Robalino</title>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="../css/main_about.css" />
</head>
<body>
<div id="container">
	<span class="title_about">About Henry Robalino</span>
	<ul id="menu-css">
		<li><a href="../">Home</a></li>
		<li><a href="#">About Me</a></li>
		<li><a href="../Portfolio">Portfolio</a></li>
		<li><a href="../Contact">Contact</a></li>
	</ul>
</div>
	<span class="text_about">
		<br/>
		Name: Henry Robalino
		<br/>
		Major: B.S. Computer Engineer
		<br/>
		Expected Graduation: Spring 2013
		 <br/> <br/> 
		My Interests:</br>
		Android: Samsung Galaxy Nexus 4.0.3 - CM9 --> <a href="Android/">Pics!</a></br>
		Linux: Dualboot- Win 7 Ultimate/Ubuntu 11.10 </br> 
		Japan:<a href="http://lang-8.com/343308" alt="Click Me" title="Click Me" border="0"> My Japanese Blog</a> </br>
		Books: The Fountainhead, The Catcher in the Rye, Brave New World, </br> 1984, Motorcycle Diaries, Wild Swans: Three Daughters of China </br>
		Sports: Tennis & Golf </br>
		</br></br>
		Extra-Curricular Activities 
		</br>
		Vice President of Electronic and Computer Engineering Club </br>
		Web Designer of NJIT Anime Club </br>
		Photography Staff - Nucleus Yearbook </br>
		
<br/>
Website Designed by Henry Robalino
<br/>
Last Updated: 9 Jan 2011
</span>
</body>

</html>
