<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Henry Robalino, Computer Engineering, student, resume, njit, new jersey institute of technology"/>
		<title>Henry Robalino</title>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/main.css" />
</head>
<body>
<div id="container">
	<span class="title">Henry Robalino</span>
	<ul id="menu-css">
		<li><a href="#">Home</a></li>
		<li><a href="About">About Me</a></li>
		<li><a href="Portfolio">Portfolio</a></li>
		<li><a href="Contact">Contact</a></li>
	</ul>
</div>
<br/> <br/>
<a href="Henry_Robalino_Resume.pdf">
<img src="images/Resume.png" alt="Click Me" title="Click Me" border="0" />
</a>
<br/> <br/> <br/>
Website Designed by Henry Robalino
<br/>
Last Updated: 8 Dec 2011
</body>

</html>